h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    color: white;
<<<<<<< HEAD
    text-align: center;
    
}

h5 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: aquamarine;
    text-align: center;
}

body {background-color:black;}
=======
    
}
>>>>>>> b4b0f4f8bef50cbc73f9bd215d9756f95514b470
